.reg-card-container {
  @apply min-h-screen flex items-center justify-center bg-[url("/pit-bg-1.jpg")] bg-cover bg-center;
}

.reg-card-content {
  @apply flex min-w-[75%] justify-between gap-x-8 bg-slate-200 p-8 rounded-lg drop-shadow-md;
}

.reg-card-header-title {
  @apply text-green-700 text-2xl max-w-[400px] font-bold;
}

.reg-hr-line {
  @apply opacity-50 h-2 text-secondary shadow-lg;
}

.reg-form-title {
  @apply text-2xl font-bold py-4 text-center text-green-700
}

.input-container-layout {
  @apply relative flex items-center
}

.input-field-style {
  @apply pl-12 text-[15px] mt-1 w-full border rounded-lg p-3 focus:shadow-md transition focus:transition;
}

.input-icon-layout {
  @apply absolute inset-y-7 left-0 flex items-center pl-4;
}

.input-invalid {
 @apply border-red-500 focus:outline-none;
}

.input-valid {
  @apply border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-600;
}

.password-icon-visibility {
  @apply absolute inset-y-7 right-0 flex items-center pr-4 hover:cursor-pointer hover:text-gray-500 transition active:transition;
}

