@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field-style {
  @apply mt-1 w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-green-600
}
.input-label-style {
  @apply block text-sm font-medium text-gray-700
}