@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


.input-field-style {
  @apply pl-12 text-[14px] mt-1 w-full border rounded-md p-3
}
.input-label-style {
  @apply block text-sm font-medium text-gray-700
}